# Universal Payment Aggregator Configuration

PORT=3000
HOST=0.0.0.0
NODE_ENV=development

# Master Merchant Credentials
MERCHANT_NAME=Universal Merchant Pvt Ltd
DEFAULT_UPI_VPA=merchant@hdfcbank
DEFAULT_MCC=5411

# Acquiring Bank Settings
DEFAULT_BANK_ROUTING=MOCK # Options: MOCK, HDFC, ICICI, AXIS, SMART_ROUTED

# HDFC Bank Credentials (Direct Acquiring)
HDFC_MID=HDFC_MERC_100928
HDFC_TERMINAL_ID=HDFC_TERM_01
HDFC_SECRET_KEY=hdfc_secret_enc_key_sample_32byte_
HDFC_API_BASE_URL=https://api.hdfcbank.com/v1/upi

# ICICI Bank Credentials (Eazypay Direct)
ICICI_MERCHANT_ID=ICICI_MERC_99482
ICICI_SUB_MERCHANT_ID=ICICI_SUB_01
ICICI_AES_KEY=icici_sample_aes_key_32bytes__!
ICICI_API_BASE_URL=https://eazypay.icicibank.com/composite/upi

# Axis Bank Credentials (Direct Gateway)
AXIS_MERCHANT_ID=AXIS_MERC_88301
AXIS_CHECKSUM_KEY=axis_sample_checksum_key_64bit
AXIS_API_BASE_URL=https://gateway.axisbank.com/direct/upi

# Webhook Security
MERCHANT_WEBHOOK_SECRET=whsec_merchant_hmac_secret_key_998877
WEBHOOK_MAX_RETRIES=5

# Idempotency & Locking
IDEMPOTENCY_TTL_SECONDS=86400
